@model List<MDS.Models.TestTakersModel>
@{
    ViewBag.Title = "ทะเบียนรายชื่อผู้เข้าสอบ";
}
<link href="~/Content/plugins/datepicker_buddhist_year/css/ui-lightness/jquery-ui-1.8.10.custom.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="~/assets/widgets/datatable/datatable.css">
<style type="text/css">

    .demoHeaders {
        margin-top: 2em;
    }

    #dialog_link {
        padding: .4em 1em .4em 20px;
        text-decoration: none;
        position: relative;
    }

        #dialog_link span.ui-icon {
            margin: 0 5px 0 0;
            position: absolute;
            left: .2em;
            top: 50%;
            margin-top: -8px;
        }

    ul#icons {
        margin: 0;
        padding: 0;
    }

        ul#icons li {
            margin: 2px;
            position: relative;
            padding: 4px 0;
            cursor: pointer;
            float: left;
            list-style: none;
        }

        ul#icons span.ui-icon {
            float: left;
            margin: 0 4px;
        }

    ul.test {
        list-style: none;
        line-height: 30px;
    }
    /* Overide css code กำหนดความกว้างของปฏิทินและอื่นๆ */
    .ui-datepicker-prev, .ui-datepicker-next {
        background: none !important;
        /*width:220px;
        font-family:tahoma;
        font-size:11px;
        text-align:center;*/
    }
</style>

<div id="page-title">
    <h2>ทะเบียนรายชื่อผู้เข้าสอบ</h2>
</div>
<div class="content-box">
    <h3 class="content-box-header bg-blue-alt">
        <i class="glyphicon glyphicon-file"></i>
        ค้นหาทะเบียนรายชื่อผู้เข้าสอบ
    </h3>
    <div class="content-box-wrapper">
        @using (Html.BeginForm("TestTakers", "Report", FormMethod.Post, new { id = "AcForm" }))
        {
            <div class="row">
                <h2 style="text-align:center;">ค้นหาทะเบียนรายชื่อผู้เข้าสอบ</h2>
            </div>
            <div class="row">
                <div class="col-sm-6 center-margin">
                    <div class="form-group center-margin">
                        <label class="col-sm-2 control-label text-right">ตั้งแต่ :</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control bootstrap-datepicker" name="fdate" id="fdate" placeholder="เลือกวันที่สอบ.." value="@ViewBag.Fdate" readonly>
                        </div>
                        <label class="col-sm-2 control-label  text-right">ถึง :</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control bootstrap-datepicker" name="tdate" id="tdate" placeholder="เลือกวันที่สอบ.." value="@ViewBag.Tdate" readonly>
                        </div>
                        <div class="col-sm-2">
                            <button type="submit" class="btn btn-default tooltip-button" data-placement="top" title="ค้นหาจากวันที่สอบ">ตกลง</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@if (Model.Count() != 0)
{
    <div class="content-box">
        <h3 class="content-box-header bg-blue-alt">
            <i class="glyphicon glyphicon-file"></i>
            แสดงทะเบียนรายชื่อผู้เข้าสอบ
        </h3>
        <div class="content-box-wrapper">
            <div class="table-responsive">
                <table id="datatable-responsive" class="table table-striped " cellpadding="0" cellspacing="0">
                    <thead>
                        <tr>
                            <th style="text-align:center;background-color:#e6e6e6;color:black" width="2%">#</th>
                            <th style="text-align:center;">วันที่สอบ</th>
                            <th style="text-align:center;">กลุ่มหลักสูตร</th>
                            <th style="text-align:center;">ชื่อหลักสูตร</th>
                            <th style="text-align:center;">จำนวน(คน)</th>
                            <th style="text-align:center;">ทะเบียนรายชื่อ</th>
                            <th style="text-align:center;">ทะเบียนสอบทฤษฎี</th>
                            <th style="text-align:center;">ทะเบียนสอบปฏิบัติ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td></td>
                                <td style="text-align:center;width: 100px">@item.examdate</td>
                                <td>@item.coursegroupname</td>
                                <td>@item.coursenickname</td>
                                <td style="text-align:center;">@item.studentcount</td>
                                <td style="text-align:center;">
                                    @using (Html.BeginForm("TestTakersName", "Report", FormMethod.Post))
                                    {
                                        <input type="hidden" name="examdate" value="@item.examdate" />
                                        <input type="hidden" name="courseid" value="@item.courseid" />
                                        <input type="hidden" name="coursegroupname" value="@item.coursegroupname" />
                                        <input type="hidden" name="fdate" value="@ViewBag.Fdate" />
                                        <input type="hidden" name="tdate" value="@ViewBag.Tdate" />
                                        <button type="submit" class="btn btn-success"><i class="glyph-icon icon-print"></i></button>
                                    }
                                </td>
                                <td style="text-align:center;">
                                    @using (Html.BeginForm("TestTakersTheory", "Report", FormMethod.Post))
                                    {
                                        <input type="hidden" name="examdate" value="@item.examdate" />
                                        <input type="hidden" name="courseid" value="@item.courseid" />
                                        <input type="hidden" name="coursegroupname" value="@item.coursegroupname" />
                                        <input type="hidden" name="fdate" value="@ViewBag.Fdate" />
                                        <input type="hidden" name="tdate" value="@ViewBag.Tdate" />
                                        <input type="hidden" name="cflg" value="T" />
                                        <button type="submit" class="btn btn-primary"><i class="glyph-icon icon-print"></i></button>
                                    }
                                </td>
                                <td style="text-align:center;">
                                    @if (item.coursegroupid == "1")
                                    {
                                        using (Html.BeginForm("TestTakersMotorcycle", "Report", FormMethod.Post))
                                        {
                                            <input type="hidden" name="examdate" value="@item.examdate" />
                                            <input type="hidden" name="courseid" value="@item.courseid" />
                                            <input type="hidden" name="coursegroupname" value="@item.coursegroupname" />
                                            <input type="hidden" name="fdate" value="@ViewBag.Fdate" />
                                            <input type="hidden" name="tdate" value="@ViewBag.Tdate" />
                                            <input type="hidden" name="cflg" value="P" />
                                            <button type="submit" class="btn btn-info"><i class="glyph-icon icon-print"></i></button>
                                        }
                                    }
                                    else if (item.coursegroupid == "2")
                                    {
                                        using (Html.BeginForm("TestTakersCar", "Report", FormMethod.Post))
                                        {
                                            <input type="hidden" name="examdate" value="@item.examdate" />
                                            <input type="hidden" name="courseid" value="@item.courseid" />
                                            <input type="hidden" name="coursegroupname" value="@item.coursegroupname" />
                                            <input type="hidden" name="fdate" value="@ViewBag.Fdate" />
                                            <input type="hidden" name="tdate" value="@ViewBag.Tdate" />
                                            <input type="hidden" name="cflg" value="P" />
                                            <button type="submit" class="btn btn-info"><i class="glyph-icon icon-print"></i></button>
                                        }
                                    }
                                    else
                                    {
                                        using (Html.BeginForm("TestTakersTransportation", "Report", FormMethod.Post))
                                        {
                                            <input type="hidden" name="examdate" value="@item.examdate" />
                                            <input type="hidden" name="courseid" value="@item.courseid" />
                                            <input type="hidden" name="coursegroupname" value="@item.coursegroupname" />
                                            <input type="hidden" name="fdate" value="@ViewBag.Fdate" />
                                            <input type="hidden" name="tdate" value="@ViewBag.Tdate" />
                                            <input type="hidden" name="cflg" value="P" />
                                            <button type="submit" class="btn btn-info"><i class="glyph-icon icon-print"></i></button>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@section scripts{
    <!-- Data tables -->
    <script type="text/javascript" src="~/assets/widgets/datatable/datatable.js"></script>
    <script type="text/javascript" src="~/assets/widgets/datatable/datatable-bootstrap.js"></script>
    <script type="text/javascript" src="~/assets/widgets/datatable/datatable-responsive.js"></script>

    <script src="~/Content/plugins/datepicker_buddhist_year/js/jquery-ui-1.8.10.offset.datepicker.min.js"></script>
    <script src="~/Content/Jquery/jquery-ui.js"></script>
    <script src="~/assets/jQuery/jquery.validate.min.js"></script>

    <script type="text/javascript">
        /* Datatables responsive */
        $(document).ready(function () {
            var t = $('#datatable-responsive').DataTable({
                "responsive": true,
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": true,
                "order": [],
                "language": {
                    "zeroRecords": "ไม่มีข้อมูลที่ค้นหา",
                    "emptyTable": "ไม่มีข้อมูล",
                    "info": "แสดง _START_ ถึง _END_ จากทั้งหมด _TOTAL_ รายการ",
                    "infoEmpty": "แสดง 0 ถึง 0 จาก 0 แถว",
                    "infoFiltered": "(กรองข้อมูล _MAX_ ทุกแถว)",
                    "lengthMenu": "แสดง  _MENU_  รายการ",
                    "paginate": {
                        "first": "หน้าแรก",
                        "previous": "ก่อนหน้า",
                        "next": "ถัดไป",
                        "last": "หน้าสุดท้าย"
                    }
                }
            });
            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });

        $(document).ready(function () {
            $('.dataTables_filter input').attr("placeholder", "ค้นหา...");
        });
    </script>
    <script>
        $(document).ready(function () {
            $(function () {
                $.validator.setDefaults({
                    errorClass: 'help-block',
                    highlight: function (element) {
                        $(element)
                            .closest('.form-group')
                            .addClass('has-error');
                    },
                    unhighlight: function (element) {
                        $(element)
                            .closest('.form-group')
                            .removeClass('has-error');
                    },
                    errorPlacement: function (error, element) {
                        if (element.prop('type') === 'checkbox') {
                            error.insertAfter(element.parent());
                        } else {
                            error.insertAfter(element);
                        }
                    }
                });
                $.validator.addMethod("valueNotEquals",
                    function (value, element, arg) {
                        return arg !== value;
                    }, "Value must not equal arg.");
                $("#AcForm").validate({
                    rules: {
                        fdate: {
                            required: true
                        },
                        tdate: {
                            required: true
                        },
                    },
                    messages: {
                        fdate: {
                            required: 'กรุณาระบุวันที่'
                        },
                        tdate: {
                            required: 'กรุณาระบุวันที่'
                        }
                    }
                });
            });
        });
        $(document).ready(function () {
            var d = new Date();
            var toDay = (d.getFullYear()) + '-' + (d.getMonth() + 1) + '-' + d.getDate();
            $("#fdate").datepicker({
                changeMonth: true,
                changeYear: true,
                defaultDate: toDay,
                autoclose: true,
                dateFormat: 'yy-mm-dd',
                isBuddhist: true,
                orientation: "bottom left",
                yearRange: "-100:+0",
                dayNames: ['อาทิตย์', 'จันทร์', 'อังคาร', 'พุธ', 'พฤหัสบดี', 'ศุกร์', 'เสาร์'],
                dayNamesMin: ['อา.', 'จ.', 'อ.', 'พ.', 'พฤ.', 'ศ.', 'ส.'],
                monthNames: ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤศจิกายน', 'ธันวาคม'],
                monthNamesShort: ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.'],
            }).keydown(function (e) {
                return false;
            });

            $("#tdate").datepicker({
                changeMonth: true,
                changeYear: true,
                defaultDate: toDay,
                autoclose: true,
                dateFormat: 'yy-mm-dd',
                isBuddhist: true,
                orientation: "bottom left",
                yearRange: "-100:+0",
                dayNames: ['อาทิตย์', 'จันทร์', 'อังคาร', 'พุธ', 'พฤหัสบดี', 'ศุกร์', 'เสาร์'],
                dayNamesMin: ['อา.', 'จ.', 'อ.', 'พ.', 'พฤ.', 'ศ.', 'ส.'],
                monthNames: ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤศจิกายน', 'ธันวาคม'],
                monthNamesShort: ['ม.ค.', 'ก.พ.', 'มี.ค.', 'เม.ย.', 'พ.ค.', 'มิ.ย.', 'ก.ค.', 'ส.ค.', 'ก.ย.', 'ต.ค.', 'พ.ย.', 'ธ.ค.'],
            }).keydown(function (e) {
                return false;
            });
        });
    </script>
}

